<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/sara.maghraby/IdeaProjects/ContactCarsRetailStaging">
        <classes>
<!--                <class name="com.contactcars.testcases.LoginPageTest"></class>-->
                <class name="com.contactcars.testcases.OtlobhaPageTest">
                    <methods>
                        <include name="OtlobhaImportedDPvalue2"></include>
                    </methods>
                </class>
<!--               <class name="com.contactcars.testcases.HomePageTest"></class>-->
<!--              <class name="com.contactcars.testcases.ShowroomsPageTest">-->
<!--                  <methods>-->
<!--                      <include name="openContactUsTab"></include>-->
<!--                  </methods>-->
<!--              </class>-->
        </classes>
    </test>
</suite>